RPC_URL=https://rpc.mainnet.chain.robinhood.com
BUFFCAT=0xD80aFe3Be875a14155FDd96D39669A6734E12036
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_GROUP_ID=
INTERVAL_MS=300000
BURN_INTERVAL_MS=3600000
ETH_USD=1846
MIN_REPORT_USD=0
